*{
    padding: 0;
    margin: 0;
    
}
.logo-container{
    font-size: 16px;
    display: flex;
    width: 9em;
    height: 1.1em;
    font-size: 3em;
    line-height: 1em;
    overflow: hidden;
    background-color: black;
    color: white;
    position: absolute;
    top: 35vh;
    left: 0.2em;
    text-align: center;
}
.setout{
    list-style: none;
    color: #2196f3;
    padding-left: 16px;
    animation: moveUp 7s infinite;
}
@keyframes moveUp {
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}
    25%{ margin-top: -1em;}
    50%{ margin-top: -1em;}
    55%{ margin-top: -2em;}
    80%{ margin-top: -2em;}

    85%{ margin-top: -1em;}
    95%{ margin-top: -1em;}
    100%{ margin-top: 0;}
}
/*Cuerpo de la Página (derecha)*/
.container{
    position: absolute;
    padding: 0;
    top: 25vh;
    right: 20em;
}
/*Texto a Ingresar*/
input{
    width: 15em;
    height: 4em;
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
}
input::placeholder{
    color:white;
} 
/*Shift*/
#shift{
    font-size: 1em;
    margin-top: 1em;
    margin-left: 3em;
}
#key{
    width: 3em;
    height: 1.5em;
}
/*Category*/
a {
    position: relative;
    top: 1em;
    left: -1em;
    display: inline-block;
    padding: 1em 1em 1em ;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
    transition: 0.2s;
    margin-left: 0.5em;
  }
  a:hover{
    cursor: pointer;
    scale: 0.8;
  } 
  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
  }
  a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
  }
  a span:nth-child(3){
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
  }
  a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  
  a span:nth-child(2){
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
  }
  a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  a span:nth-child(4){
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
  }
  a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }

/*Texto que ENCRY OR DES*/
.changeOption{
    text-align: center;
    margin: 1em 0 0.5em 0;
}
/*Texto que ENCRY OR DES*/
.changeOption{
    text-align: center;
    margin: 1em 0 0.5em 0;
}
#output{
    margin: 0 0 1em 0;
}
.botones{
    text-align: center;
}
.btn{
    margin-left: 1em;
}


/*Pie de Página*/
.lower-fixed-container{
    display: flex;
    position: absolute;
    bottom:0;
}
.lower-fixed-container_ul{
    padding-left: 50em;
}